.portlet-body .lfr-portlet-timesheet-report-icon
{
	float: none;
}

.aui-dialog-content .lfr-portlet-timesheet-total-label 
{
	width: 200px;
	float: right;
	text-align: right;
	padding-right: 50px;
	font-weight: bold;
}

.aui-dialog-content .lfr-portlet-timesheet-total-label-left
{
	float: none;
	text-align: left;
}

.portlet-body .lfr-portlet-timesheet-div-icon {
	float: right;	
	font-weight: bold;
	cursor: pointer;
}